.table_block {
    width: 95%;
    height: 500px;
    background-color: #2670B4;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -90px;
    overflow: scroll;
}

select {
    background-color: #460A6F;
    border: none;
    color: white;
    margin-bottom: 20px;
    margin-left: 2.5%;
}
  
option {
    font-family: Golos, Arial, sans-serif;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}
tr {
    border: 1px solid #ccc;
}
td, th {
    border: 1px solid #ccc;
}

input[type="text"] {
    background-color: rgba(0, 125, 215, 0);;
    border: none;
    color: white;
    width: 100%;
  }