* {
  padding: 0;
  margin: 0;
}

.body {
  font-family: "Golos Text", sans-serif;
  font-size: 1rem;
  color: white;
}

/*header*/

.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 103px;
  padding: 2px 15px;
  margin: 0 auto;
  background: linear-gradient(to right, #201A4A, #4F1353);
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
}

.header a:hover {
  color: #1AB3D5;
}

.authorization {
  margin-right: 48px;
}

.drop-down_content > a {
  font-size: 2rem;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 48px;
  margin-right: 48px;

}

.menu li a:hover {
  color: #1AB3D5;
}

/*content*/

body {
  padding-top: 220px;
  /*display: flex;*/
  /*flex-direction: column;*/
  background-color: #110F2C;
}

.content_wrap {
  flex-grow: 1;
}

.centred_content_checking {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0, 300px;
  min-width: 1060px;
}

/* .content_block {
  width: 1100px;
  height: 400px;
  color: #FFFFFF;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
} */

.content_block {
  width: 1100px;
  height: 400px;
  background-color: #2670B4;
  color: #FFFFFF;
  font-family: Golos, Geneva, Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-right: 150px;
  float: left;
  border-radius: 15px;
}

.homeworks_block {
  width: 600px;
  height: 400px;
  background-color: #2670B4;
  color: #FFFFFF;
  font-family: Golos, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  float: left;
  border-radius: 15px;
}
  
table {
  width: 100%;
  border-collapse: collapse;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

th, td {
  padding: 8px;
}

.cell {
  height: 100%;
  padding-right: 4.5%;
  padding-left: 4.5%;
}

.cell_with_border {
  border-right: 1px solid white;
}

.homeworks {
  overflow-y: auto;
}

.homework {
  border: 1px solid white;
  font-size: large;
  padding: 5px 10px;
  margin-left: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  width: max-content;
  border-radius: 5px;
}

.purple_header {
  background-color: #770DC0;
  border-bottom: 1px solid white;
  display: flex;
  padding-left: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

select {
  background-color: #460A6F;
  border: none;
  color: white;
}

option {
  font-family: Golos, Arial, sans-serif;
}

input[type="number"] {
  margin-left: 4px;
  background-color: #460A6F;
  border: none;
  color: white;
  width: 35px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.solution_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
  width: 400px;
  height: 400px;
  font-family: Golos, Geneva, Arial, Helvetica, sans-serif;
}

.checking_block {
  height: 185px;
  background-color: #2670B4;
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.points_block {
  display: flex;
  padding-left: 8px;
  height: 35px;
  align-items: center;
}

.comment_block {
  display: flex;
  height: 100px;
  background-color: #08060900;
}

.button_block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
}

input[type="button"] {
  height: 35px;
  font-size: 20px;
  background-color: #460A6F;
  border: 1px solid white;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

textarea {
  background-color: #08060900;
  color: white;
  border: none;
  width: 99%;
}

.footer_wrap {
  text-align: center
}

.message_block {
  width: 100%;
  height: 180px;
  background-color: #2670B4;
  color: #FFFFFF;
  font-family: Golos, Geneva, Arial, Helvetica, sans-serif;
  font-size: 14px;
  float: left;
  border-radius: 15px;
}

.message {
  width: 98%;
  height: 85px;
  word-wrap: break-word;
  padding-left: 5px;
  padding-top: 8px;
  overflow-y: auto;
}

details {
  border: 1px solid #767676;
  border-radius: 3px;
  display: inline-flex;
  flex-direction: column;
  padding: 3px 6px;
  background-color: #460A6F;
}

details summary::marker {
  display: none;
  font-size: 0;
}

details summary::-webkit-details-marker {
  display: none;
  font-size: 0;
}

details summary::after {
  content: "\25BC";
  display: inline-block;
  font-size: 0.6rem;
  height: 1rem;
  line-height: 1rem;
  margin-left: 0.5rem;
  position: relative;
  transition: transform 0.25s;
}

details[open] summary::after {
  top: -0.15rem;
  transform: rotate(180deg);
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: 0;
  padding: 0;
  position: absolute;
  background-color: #770DC0;
  border: 1px solid white;
  margin-top: 10px;
}

fieldset legend {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.drop-down_menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.drop-down_menu li {
  border-radius: 3px;
  margin: 0;
  padding: 4px 2px;
}

.drop-down_menu li:hover {
  background: #eee;
}

.drop-down_menu li label {
  display: inline-block;
  width: 8rem;
}

.modal {
  display: block;
  position: absolute;
  z-index: 999;
  top: 700px;
  left: 150px;
  background-color: #110F2C;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: white;
}

.modal-content {
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.solution_points_block {
  border-left: 1px solid white;
  border-top: 1px solid white;
  background-color: #770DC0;
  color: white;
  display: flex;
  justify-content: center;
  float: right;
  height: 35px;
  font-size: medium;
  border-bottom-right-radius: 15px;
  width: 60%;
  align-items: center;
  bottom: 0px;
  margin-top: 5px;
}

.checked_header {
  height: 25px;
  font-size: large;
}

/*страница отправки*/

.sending_info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 375px;
}

.homework_info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 515px;
  min-height: 279px;
  text-align: center;
  background-color: #1AB3D5;
  border-radius: 24px;
  margin-right: 33px;
  font-size: 3rem;
  color: #fff;
}

.homework_info > .sending_number {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.homework_info > .sending_number input {
  width: 100px;
  height: 48px;
  align-self: center;
  border-radius: 16px;
  background-color: #460A6F;
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.homework_info > .sending_tomb {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.custom_checkbox {
  width: 40px;
  height: 40px;
  align-self: center;
}

.custom_checkbox {
  display: none;
}

.sending_tomb > label {
  position: relative;
  padding-right: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.sending_tomb > label::after {
  content: '';
  margin-left: 40px;
  width: 2.5rem;
  height: 2.5rem;
  background: #460A6F;
  border-radius: 10px;
}

.custom_checkbox:checked + label::after {
  background-image: url("Галочка.svg");
  background-size: contain;
}

.homework_info .input-file {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.input-file {
  position: relative;
  display: inline-block;
}

.input-file span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 2rem;
  vertical-align: middle;
  color: #fff;
  text-align: center;
  background-color: #460A6F;
  height: 58px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 0;
  transition: background-color 0.2s;
}
.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.input-file:hover span {
  background-color: #4F1353;
}
.input-file:active span {
  background-color: #6f1a75;
}

.input-file input[type=file]:disabled + span {
  background-color: #eee;
}

.sending_comment {
  width: 515px;
  height: 279px;
  margin-left: 33px;
}

.sending_comment > textarea {
  width: 515px;
  height: 279px;
  background-color: #1AB3D5;
  color: #fff;
  border: transparent;
  font-size: 2rem;
  border-radius: 24px;
  outline: none;
}

.sending_comment > textarea::placeholder {
  color: #fff;
}

.send_wrap {
  display: flex;
  justify-content: center;
}

.send_button {
  width: 645px;
  height: 103px;
  background-color: #1AB3D5;
  border-radius: 24px;
  border-color: transparent;
  margin-top: 58px;
  margin-bottom: 59px;
  font-size: 3rem;
  outline: none;
  color: #fff;
}

.send_button:hover {
  background-color: #4F1353;
  outline: none;
  color:#fff;
}


/*авторизация*/

.authorisation_block {
  width: 400px;
  height: 300px;
  background-color: #2670B4;
  color: #FFFFFF;
  margin: auto;
  border-radius: 15px;
}

.form_block {
  width: 400px;
  height: 260px;
  padding: 40px 50px;
}

input[type="text"] {
  width: 72%;
  margin-bottom: 30px;
  border-radius: 15px;
  padding-left: 5px;
  color: #460A6F;
  background-color: #c4e0fa;
  border: none;
}

input[type="password"] {
  width: 72%;
  margin-bottom: 30px;
  border-radius: 15px;
  padding-left: 5px;
  color: #460A6F;
  background-color: #c4e0fa;
  border: none;
}

button {
  height: 35px;
  width: 75%;
  font-size: 20px;
  background-color: #460A6F;
  border: 1px solid white;
  color: white;
  padding-left: auto;
  padding-right: auto;
  border-radius: 15px;
}

  /*footer*/

.footer_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 62px auto;
  flex-grow: 0;
}