body {
    background: linear-gradient(#8F27C0, #1A185A) fixed;
}

  .container {
    background-color: #08060970;
    width: 350px;
    height: 300px;
    border: 1px solid white;
    color: #FFFFFF;
    font-family: Golos, Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 32px;
    margin-left: 25px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid white;
    padding: 8px;
  }

  select {
    background-color: #08060900;
    border: none;
    color: white;
  }

  option {
    color: #000;
    font-family: Golos, Arial, sans-serif;
  }

  input[type="number"] {
    background-color: #08060950;
    border: 1px solid white;
    color: white;
    width: 35px;
  }